<!DOCTYPE html>
<html>

<head>
  <title><%= emailSubject %></title>
  <style>
    body {
      background-color: seagreen;
    }
  </style>
</head>

<body>
  <h1><%= emailTitle %></h1>
  <hr>
  <b1>Vui lòng nhấn nút dưới đây để kích hoạt tài khoản của bạn:</b1>
  <button>VERIFY NOW</button>
  <p><%= emailContent %></p>

</body>

</html>